header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
.airbnb_logo {
    padding-left: 20px;
    height: 80%;
    width: 100px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}