body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    width: 1000px;
    margin: 30px auto 30px auto;
}